.srchList-li {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.srchList-li:hover {
    background-color: #00635a;
    color: azure;
}

.srchList {
    z-index: 3;
    background-color: azure;
}

.header {
    font-weight: bold;
}